SUPABASE_URL=https://kwxgbyimzrzvoksrqydj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3eGdieWltenJ6dm9rc3JxeWRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5ODEyMDQsImV4cCI6MjA4OTU1NzIwNH0.Ruw8OEbGWjeCHS6MOIcIMz_uXv_oyQhX4bRfxlwI5fg
PORT=5000
JWT_SECRET=your_jwt_secret_key_here
WEATHER_API_KEY=your_weather_api_key
NODE_ENV=development
